.title {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: .2em;
    text-align: center;
}

.title__h1 {
    font-size: 2em;
}

.title__h2 {
    font-size: 1.5em;
}

.db {
    float: left;
    margin: 1em;
    border: 3px solid #000000;
}

.box {
    margin: 1em;
    float: right;
    border: 3px solid #000000;
    height: 220px;
    width: 300px;
}

.text_acc_type {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: .2em;
    text-align: left;
    font-size: 1em;
}

.sign_in {
    font-size: 1.6em;
    margin: 0.6em;
    text-align: center;
}

.sign_in_form {
    height: 2em;
    width: 10em;
    border: 2px solid #aaaaaa;
    margin: 0.5em;
    display: block;
}
input[type="string"] {
    font-size: 12px;
    font-weight: 100;
    text-align: left;
}

.login_button {
    background-color:#00ee22;
    display: block;
    margin: .6em;
}