<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF 8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Airport Database</title>
        <link rel="stylesheet"
        href="https://cdnjs.clourflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">

        <link rel="stylesheet" href="/static/style.css">

    </head>

    <div class="title">
        <p class="title__h1">Airport Database Project</p>
        <p class="title__h2">By Sean Balakhanei and Josh Quatela</p>
        {{error}}
    </div>

    
    <div class="org">
        <div class="db">
            <p class="sign_in">Public Database</p>
            <form method="post" action="/public_search">
                <div>
                    <input type="text" class="info_input" name="source_city" id="source_city" placeholder="From">
                    <input type="text" class="info_input" name="dest_city" id="dest_city" placeholder="To">
                    <input type="text" class="info_input" name="flight_num" id="flight_num" placeholder="Flight Number">
                </div>

                <div>
                    <input type="text" class="info_input" name="departure_date" id="departure_date" placeholder="Departure Date">
                    <input type="text" class="info_input" name="arrival_date" id="arrival_date" placeholder="Arrival Date">
                    <button class="search_button" onclick="public_search()">Search</button>
                    
                </div>
            </form>
            
            {% for result in results %}
                <p> {{result}} </p> 
            {% endfor %}

        </div>

        <div class="box">
            <form method="post" action="/login">
                <p class="sign_in">Sign In</p>
                <input type="text" class="sign_in_form" name='Username' id='Username' placeholder="Username">
                <input type="password" class="sign_in_form" name='Password' id='Password' placeholder="Password">
                <button class="login_button" onclick="login()">Login</button>
            </form>
        </div>
    
        <div class="box">
            <form method="post" action="/registerCustomer">
                <p class="sign_in">Register Customer</p>
                <input type="text" class="sign_in_form" name='cust_name' id='cust_name' placeholder="Name">
                <input type="text" class="sign_in_form" name='cust_email' id='cust_email' placeholder="Email">
                <input type="password" class="sign_in_form" name='cust_password' id='cust_password' placeholder="Password">
                <input type="text" class="sign_in_form" name='cust_build_num' id='cust_build_num' placeholder="Building Number">
                <input type="text" class="sign_in_form" name='cust_street' id='cust_street' placeholder="Street">
                <input type="text" class="sign_in_form" name='cust_city' id='cust_city' placeholder="City">
                <input type="text" class="sign_in_form" name='cust_state' id='cust_state' placeholder="State">
                <input type="text" class="sign_in_form" name='cust_phone_number' id='cust_phone_number' placeholder="Phone Number">
                <input type="text" class="sign_in_form" name='cust_passport_number' id='cust_passport_number' placeholder="Passport Number">
                <input type="text" class="sign_in_form" name='cust_passport_expiration' id='cust_passport_expiration' placeholder="Passport Expiration">
                <input type="text" class="sign_in_form" name='cust_passport_country' id='cust_passport_country' placeholder="Passport Country">
                <input type="text" class="sign_in_form" name='cust_dob' id='cust_dob' placeholder="Date of Birth">

        
                <button class="login_button" onclick="registerCustomer()">Create User</button>
            </form>
        </div>

        <div class="box">
            <form method="post" action="/registerStaff">
                <p class="sign_in">Register Staff</p>
                <input type="text" class="sign_in_form" name='staff_username' id='staff_username' placeholder="Username">
                <input type="password" class="sign_in_form" name='staff_password' id='staff_password' placeholder="Password">
                <input type="text" class="sign_in_form" name='staff_first_name' id='staff_first_name' placeholder="First Name">
                <input type="text" class="sign_in_form" name='staff_last_name' id='staff_last_name' placeholder="Last Name">
                <input type="text" class="sign_in_form" name='staff_dob' id='staff_dob' placeholder="Date of Birth">
                <input type="text" class="sign_in_form" name='staff_phone_number' id='staff_phone_number' placeholder="Primary Phone Number">
                <input type="text" class="sign_in_form" name='staff_additional_phone_number' id='staff_additional_phone_number' placeholder="Additional Phone Numbers">
                <input type="text" class="sign_in_form" name='staff_email' id='staff_email' placeholder="Email">
                <input type="text" class="sign_in_form" name='staff_additional_email' id='staff_additional_email' placeholder="Additional Emails">
                <input type="text" class="sign_in_form" name='staff_airline' id='staff_airline' placeholder="Airline">
        
                <button class="login_button" onclick="registerStaff()">Create User</button>
            </form>
        </div>


    </div>

</html>