<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF 8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Airport Database</title>
        <link rel="stylesheet"
        href="https://cdnjs.clourflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">

        <link rel="stylesheet" href="/static/style.css">

    </head>

    <div class="title">
        <p class="title__h1">Airport Database Project</p>
        <p class="title__h2">By Sean Balakhanei and Josh Quatela</p>
    </div>

    <div class="db">
        <p class="sign_in">Public Database</p>
    </div>
    
    <div class="box">
        <form method="POST">
        <p class="sign_in">Sign In</p>
        <input type="text" class="sign_in_form" placeholder="Username">
        <input type="password" class="sign_in_form" placeholder="Password">
        <button class="login_button">Login</button>
    </div>

    <div class="box">
        <form method="POST">
        <p class="sign_in">Register</p>
        <input type="text" class="sign_in_form" placeholder="Username">
        <input type="password" class="sign_in_form" placeholder="Password">

        <div class="text_acc_type">
            <form action = "" method = "post">
            <input type="radio" name="userType" value="customer"> Customer
            <input type="radio" name="userType" value="staff"> Airline Staff
            <br/>

        </form>
        </div>
    
        <button class="login_button">Create User</button>
    </div>

</html>