<!DOCTYPE html>
<html>
    <head>
        <nav>
            <div>
                <a href="/customer">Go Back</a>
                <a href="/logout">Logout</a>
            </div>
        </nav>
        <title>Air Ticket Reservation System | Track My Spending For A Specific Time Period </title>
    </head>
    <body>
        <br>
        <form method="POST" action="/specifyspending">
            <h3 align="center">Track My Monthly Spending For A Specific Time Period</h3>
            <div>
                <label for="date1">Start Date:</label>
                <input type="date" id="date1" name="date1" placeholder="" required/>
            </div>
            <br>
            <div>
                <label for="date2">End Date:</label>
                <input type="date" id="date2" name="date2" placeholder="" required/>
            </div>
            <br>
            <button type="submit" name = "specific_spending">Track Spending</button>
        </form>
    </body>
    <br>
    <hr>
</html>
