.title {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: .2em;
    text-align: center;
}

.title__h1 {
    font-size: 2em;
}

.title__h2 {
    font-size: 1.5em;
}

.db {
    float: left;
    margin: 1em;
    border: 2.5px solid #000000;
}

.box {
    margin: 0.5em;
    float: right;
    border: 2.5px solid #000000;
    height: 500px;
    width: 200px;
}

.text_acc_type {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: .2em;
    text-align: left;
    font-size: 1em;
}

.sign_in {
    font-size: 1.4em;
    margin: 0.6em;
    text-align: center;
}

.sign_in_form {
    height: 2em;
    width: 12em;
    border: 2px solid #aaaaaa;
    margin: 0.5em;
    display: block;
}
input[type="string"] {
    font-size: 12px;
    font-weight: 100;
    text-align: left;
}

.login_button {
    background-color:#00ee22;
    display: block;
    margin: .6em;
}

.search_button {
    height: 2em;
    background-color: #7788FF;
    margin: 0.6em;
}

.info_input {
    height: 2em;
    width: 7.5em;
    border: 2px solid #000000;
    margin: 0.6em;
}

.org {
    display:inline-block;
}